/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea/
*.iml

# Project-specific Git commit message (to configure: git config commit.template .gitmessage)
.gitmessage
